body { 
    margin:0; 
    padding:0;
  }
      
  #map { 
    position: absolute;
    top:0; 
    bottom:0; 
    width:100%;
  }

  #menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 170px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    
    overflow: scroll;
  }

  #menu a {
    font-size: 11px;
    color: #807a7a;
    display: flex;
    padding: 15px;
    text-decoration: none;
    border-bottom: solid 0.25px #ccc;
    text-align: left;
  }

  #menu a:last-child {
    border-bottom: none;
  }

  #menu a:hover {
      background-color: rgb(160, 198, 252);
      color: #141010;
  }

  #menu a.active {
      background-color: #196CDD;
      color: #ffffff;
  }

  #menu a.active:hover {
      background: #4A8BE4;
  }

  .mapboxgl-popup {
      max-width: 400px;
      font: 10px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }